@CHARSET "ISO-8859-1";

body.bricoBody {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.bricoBody .row.header .meta .breadcrumb-links {
	font-size: 14px;
}

.longSelect {
	width: 400px;
}

.corps {
	margin-left: 15px;
}

.gauche {
	float: left;
}

.droite {
	float: right;
}

.row.header .user>.item i.connexion {
	color: #738bc0 !important;
	font-size: 20px;
}

.row.header .user>.item i.deconnexion {
	color: #738bc0 !important;
	font-size: 20px;
}

.iconShadow {
	text-shadow: 1px 1px 1px #ccc;
}

.header-user {
	font-size: 13px;
	padding-top: 8px;
}

.myThemeTable .widget .widget-body.medium {
	height: 500px;
}

.myThemeTablePagination {
	text-align: center;
}

.postThemeTable {
	max-width: 500px;
	overflow: hidden;
}

.row.header .user>.item.divConnexion {
	width: 300px;
	overflow: hidden;
	text-align: right;
	line-height: 40px;
	padding-right: 20px;
}

.brico-header.row.header {
	background: #f3f3f3
}

.myThemeTable table a:hover,.newAccount a:hover {
	text-decoration: none;
}

.userBrico {
	color: #738bc0 !important;
	font-weight: normal;
}

.blueBrico1 {
	background: #738bc0 !important;
}

.containerMain {
	width: 100%;
}

.notePost {
	color: #767676;
	margin-right: 10px;
	font-size: 11px;
}

.noteRate {
	color: #767676;
}

.postTable {
	color: #767676;
}

.containerPost {
	margin-top: 10px;
	margin-bottom: 10px;
}

.containerAuteur {
	color: #767676;
	margin-right: 10px;
	font-size: 11px;
	text-align: right;
}

.validitePost {
	color: #767676;
	font-size: 12px;
}

.postWidgetHeader .widget-header .row .pull-right.col-xs-6.col-sm-4 {
	width: inherit;
}

.containerValidite {
	float: none;
	text-align: right;
}

.right {
	float: right;
}

.metaBrico {
	padding-left: 15px;
}

.myThemeTable table thead th,.bricoBody .sidebar-main {
	cursor: pointer;
}

@media ( min-width : 1200px) {
	.newSubForm .col-lg-3 {
		width: 50%;
	}
}

.myThemeTable .etatPost {
	padding-left: 20px;
}

.widget .widget-body .containerMain .divButtonContribuer {
	width: 100%;
	margin-bottom: 20px;
	display: inline-block;
}

.widget .widget-body .containerMain .buttonContribuer {
	float: right;
	margin-left: 0px;
}

.newAccount {
	padding: 15px;
	margin-top: 15px;
}

.newAccountStar {
	margin-left: 5px;
}

.accountBtnBlock {
	margin-top: 15px;
}