@CHARSET "ISO-8859-1";

.longSelect {
	width: 400px;
}

.corps {
	margin-left: 15px;
}

.droite {
	float: right;
}

.row.header .user>.item i.connexion {
	color: #569e3d;
	font-size: 20px;
}

.row.header .user>.item i.deconnexion {
	color: #EE5555;
	font-size: 20px;
}

.iconShadow {
	text-shadow: 1px 1px 1px #ccc;
}

.header-user {
	font-size: 14px;
	padding-top: 8px;
}

.myThemeTable .widget .widget-body.medium {
	height: 500px;
}

.myThemeTablePagination {
	text-align: center;
}

.postThemeTable {
	max-width: 500px;
	overflow: hidden;
}

.brico-header.row.header {
	background: #f3f3f3
}

.myThemeTable table a:hover{
	text-decoration: none;
}