@CHARSET "ISO-8859-1";

body.bricoBody {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body.bricoBody .row.header .meta .breadcrumb-links {
	font-size: 14px;
}

.longSelect {
	width: 400px;
}

.corps {
	margin-left: 15px;
}

.droite {
	float: right;
}

.row.header .user>.item i.connexion {
	color: #738bc0 !important;
	font-size: 20px;
}

.row.header .user>.item i.deconnexion {
	color: #738bc0 !important;
	font-size: 20px;
}

.iconShadow {
	text-shadow: 1px 1px 1px #ccc;
}

.header-user {
	font-size: 13px;
	padding-top: 8px;
}

.myThemeTable .widget .widget-body.medium {
	height: 500px;
}

.myThemeTablePagination {
	text-align: center;
}

.postThemeTable {
	max-width: 500px;
	overflow: hidden;
}

.row.header .user>.item.divConnexion {
	width: 300px;
	overflow: hidden;
	text-align: right;
	line-height: 40px;
	padding-right: 20px;
}

.brico-header.row.header {
	background: #f3f3f3
}

.myThemeTable table a:hover {
	text-decoration: none;
}

.userBrico {
	color: #738bc0 !important;
}

.blueBrico1 {
	background: #738bc0 !important;
}

.containerMain {
	width: 750px;
}

.notePost {
	color: #767676;
	margin-right: 10px;
}

.noteRate {
	color: #767676;
}