<form ng-submit="createNewAccount()" class="newSubForm" ng-show="!user && mergeUser">
	<div class="row">	
		<div class="ng-scope">
			<div class="col-lg-3 col-md-6 col-xs-12">
				<!-- Corps -->
				<div class="form-group">
					<label for="email">Adresse mail</label>
					<span class="fa fa-star-o text-danger newAccountStar" tooltip="Saisie obligatoire"></span>
					<input type="email" required class="form-control" id="email" placeholder="Email" ng-model="mergeUser.mail" maxlength="200" />
				</div>
				<div class="form-group">
					<label for="pseudo">Pseudo</label>
					<span class="fa fa-star-o text-danger newAccountStar" tooltip="Saisie obligatoire"></span>
					<input type="text" required class="form-control" id="pseudo" placeholder="Pseudo" ng-model="mergeUser.pseudo" maxlength="100" />
				</div>
				<div class="form-group">
					<label for="password">Mot de passe</label>
					<span class="fa fa-star-o text-danger newAccountStar" tooltip="Saisie obligatoire"></span>
					<input type="password" required class="form-control" id="password" placeholder="Mot de passe" ng-model="mergeUser.password" maxlength="100" />
				</div>
				<div class="form-group">
					<label for="password2">Confirmer votre mot de passe</label>
					<span class="fa fa-star-o text-danger newAccountStar" tooltip="Saisie obligatoire"></span>
					<input type="password" required class="form-control" id="password2" placeholder="Mot de passe" ng-model="mergeUser.password2" maxlength="100" />
				</div>
	
				<div class="form-group">
					<label for="tel">T&eacute;l&eacute;phone</label>
					<input type="text" class="form-control" id="tel" placeholder="T&eacute;l&eacute;phone" ng-model="mergeUser.tel" maxlength="20" />
				</div>
				<div class="form-group">
					<label for="ville">Ville</label>
					<span class="fa fa-star-o text-danger newAccountStar" tooltip="Saisie obligatoire"></span>
					<input type="text" required class="form-control" id="ville" placeholder="Ville" ng-model="mergeUser.ville" maxlength="100" />
				</div>
				<div class="form-group">
					<label for="cp">Code Postal</label>
					<span class="fa fa-star-o text-danger newAccountStar" tooltip="Saisie obligatoire"></span>
					<input type="text" required class="form-control" id="cp" placeholder="Code Postal" ng-model="mergeUser.cp" maxlength="10" />
				</div>
				<div class="form-group">
					<label for="rue">Rue</label>
					<span class="fa fa-star-o text-danger newAccountStar" tooltip="Saisie obligatoire"></span>
					<input type="text" required class="form-control" id="rue" placeholder="Rue" ng-model="mergeUser.rue" maxlength="100" />
				</div>
				<!-- Fin Corps -->
			
				<div class="alerts-container">
					<alert type="warning">Les espaces avant et apr&egrave;s les champs saisis seront supprim&eacute;s lors de l'enregistrement de votre compte.</alert>
				</div>

				<div class="accountBtnBlock">
					<span class="btn btn-sm btn-danger gauche" ng-click="init()">R&eacute;initialiser</span>
					<button class="btn btn-sm btn-success droite">Valider</button>
				</div>
			</div>
		</div>
	</div>
</form>