<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget> <rd-widget-body>
		<div class="widget-icon blueBrico1 pull-left">
			<i class="fa fa-home"></i>
		</div>
		<div class="title">Home</div>
		<div class="comment">Bienvenue sur la page d'accueil de votre nouveau site d'entre-aide!</div>
		</rd-widget-body> </rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="alerts-container" data-ng-show="alerts.length">
			<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
</div>

<div ng-include="'postTable.html'" />