<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget> <rd-widget-body>
		<div class="widget-icon blueBrico1 pull-left">
			<i class="fa fa-user"></i>
		</div>
		<div class="title">{{( state == 'N' ? 'Nouveau Compte' : 'Gestion des donn&eacute;es personnelles' )}}</div>
		<div class="comment" ng-show="state == 'N'">Une fois votre compte cr&eacute;&eacute;, vous pourrez aider la communaut&eacute; de bricoleurs!</div>
		<div class="comment" ng-show="state == 'U'">Mise &agrave; jour de votre profil</div>
		</rd-widget-body> </rd-widget>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="alerts-container" data-ng-show="alerts.length">
			<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
</div>

<rd-loading ng-show="showSpinner"></rd-loading>

<div ng-include="'account.html'" />