<div class="row" data-ng-show="posts.length">
	<div class="col-lg-6 myThemeTable">
		<rd-widget> 
			<rd-widget-header icon="fa-tasks" title="Posts les plus r&eacute;cents"> 
				<input type="text" placeholder="Recherche" class="form-control input-sm" 
				ng-model="$parent.$parent.$parent.filter" ng-change="findStringInPosts()"/>
			</rd-widget-header> 
			<rd-widget-body classes="medium no-padding">
				<table class="table table-striped table-hover" at-table at-paginated at-list="postsFiltered" at-config="config" data-ng-show="postsFiltered.length">
					<thead>
					</thead>
					<tbody>
						<tr>
							<td at-sortable at-attribute="typePost" at-title="Type" width="80" class="etatPost">
								<span tooltip="{{typesPost[(item.typePost)].lib1}}"><i class="fa {{typesPost[(item.typePost)].libcss1}}"></i></span>
							</td>
							<td at-sortable at-attribute="title" at-title="Post" class="postThemeTable" width="450">
								<a href="#/post/{{(item.idPostRef == 0 ? item.idPost : item.idPostRef)}}">
									{{item.title}}
								</a>	
							</td>
							<td at-sortable at-attribute="dateCreation" at-title="Date de cr&eacute;ation" width="160" at-initial-sorting="desc" class="postTable">{{item.dateCreaS}}</td>
							<td at-sortable at-attribute="cp" at-title="CP" width="80" class="postTable">
								<span tooltip="{{item.userDao.ville}}">{{item.userDao.cp}}</span>
							</td>
							<td at-sortable at-attribute="postValidate" at-title="&Eacute;tat" width="80" class="postTable">
								<span ng-show="item.postValidate == 1" tooltip="Post valid&eacute;" class="text-success"><i class="fa fa-check"></i></span>
								<span ng-show="item.postValidate != 1" tooltip="Post non valid&eacute;" class="text-danger"><i class="fa fa-ban"></i></span>
							</td>
						</tr>
					</tbody>
				</table>
				<at-pagination at-list="postsFiltered" at-config="config" class="myThemeTablePagination" data-ng-show="postsFiltered.length"></at-pagination>
			</rd-widget-body> 
		</rd-widget>
	</div>
</div>