<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget> <rd-widget-body>
		<div class="widget-icon blueBrico1 pull-left">
			<i ng-hide="postParent" class="fa fa-tag"></i>
			<i ng-show="postParent" class="fa {{postParent.libcss1}}"></i>
		</div>
		<span ng-show="postParent"><div class="title">{{postParent.title}}</div></span> 
		<span ng-hide="postParent"><div class="title">Aucun post n'a &eacute;t&eacute; trouv&eacute;</div></span>
		<div ng-show="postParent && user" class="comment">Vous pouvez contribuer &agrave; ce post!</div>
		<div ng-show="postParent && !user" class="comment">Vous devez &ecirc;tre connect&eacute; pour contribuer &agrave; ce post.</div>
		<div ng-hide="postParent" class="comment">Aucune action possible</div>
		</rd-widget-body> </rd-widget>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="alerts-container" data-ng-show="alerts.length">
			<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
</div>

<div class="row" data-ng-show="posts.length">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header class="postWidgetHeader" icon="fa-tasks" title="{{posts.length - 1}} R&eacute;ponse{{(posts.length - 1) > 1 ? 's' : ''}}">
				<!-- Validité du post -->
				<div class="containerValidite" ng-show="postParent">
					<span ng-show="post.postValidate == 1" class="text-success validitePost"><i class="fa fa-check"></i>Valid&eacute; par l'auteur du post!</span>
					<span ng-show="post.postValidate != 1" class="text-danger validitePost"><i class="fa fa-check"></i>Post non encore valid&eacute; par l'auteur</span>
				</div>
				<!-- Fin validité du post -->
   			</rd-widget-header>
   			<rd-widget-body>
	   			<div data-ng-repeat="post in posts | orderBy: 'dateCreation'">
					<div class="containerMain">
					
						<!-- Note du post -->
						<div class="containerNote">
						    <rating ng-model="post.noteUser" max="maxRate" readonly="false" on-hover="post.overStar = true; post.noteUserOver = value;" 
						    	on-leave="post.overStar = false;" titles="['one','two','three']" aria-labelledby="default-rating" class="noteRate"></rating>
						    <span class="label"
						    	ng-class="{
							    	'label-warning': (100 * (post.noteUserOver / maxRate))<30, 
							    	'label-info': (100 * (post.noteUserOver/ maxRate))>=30 && (100 * (post.noteUserOver / maxRate))<70, 
							    	'label-success': (100 * (post.noteUserOver / maxRate))>=70
							    }" 
						    	ng-show="post.overStar">{{(100 * (post.noteUserOver / maxRate))}}%</span>
							<span class="notePost right" tooltip="Note attribu&eacute;e par les bricoleurs">{{post.note}}/10</span>
						</div>
						<!-- Fin note du post -->
						
						<!-- Post -->
						<div class="containerPost">
							<span>{{post.post}}</span>
						</div>
						<!-- Fin post -->
						
						<!-- Date / Auteur -->
						<div class="containerAuteur">
							<span>Post&eacute;{{(post.pseudoUserCreation != '' ? (' par ' + post.pseudoUserCreation) : '')}} le {{post.dateCreaS}}</span>
						</div>
						<!-- Fin Date / Auteur -->
						
					</div>
					<hr />
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
</div>