<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget> <rd-widget-body>
		<div class="widget-icon blueBrico1 pull-left">
			<i class="fa fa-home"></i>
		</div>
		<div class="title">Page Personnelle</div>
		<div class="comment">Gestion de vos posts</div>
		</rd-widget-body> </rd-widget>
	</div>
</div>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="alerts-container" data-ng-show="alerts.length">
			<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
</div>

<div data-ng-show="user">
	<div ng-include="'/brico-war/script/templates/postTable.html'" />
</div>