<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget> <rd-widget-body>
		<div class="widget-icon blueBrico1 pull-left">
			<i ng-hide="postParent" class="fa fa-tag"></i>
			<i ng-show="postParent" class="fa {{postParent.libcss1}}"></i>
		</div>
		<span ng-show="postParent"><div class="title">{{postParent.title}}</div></span> 
		<span ng-hide="postParent"><div class="title">Aucun post n'a &eacute;t&eacute; trouv&eacute;</div></span>
		<div ng-show="postParent && user" class="comment">Vous pouvez contribuer &agrave; ce post!</div>
		<div ng-show="postParent && !user" class="comment">Vous devez &ecirc;tre connect&eacute; pour contribuer &agrave; ce post.</div>
		<div ng-hide="postParent" class="comment">Aucune action possible</div>
		</rd-widget-body> </rd-widget>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="alerts-container" data-ng-show="alerts.length">
			<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
</div>

<div class="row" data-ng-show="posts.length">
	<div class="col-lg-6">
   		<rd-widget>
   			<rd-widget-header icon="fa-tasks" title="{{posts.length - 1}} R&eacute;ponse{{(posts.length - 1) > 1 ? 's' : ''}}">
   			</rd-widget-header>
   			<rd-widget-body>
	   			<div data-ng-repeat="post in posts | orderBy: 'dateCreation'">
					<div class="containerMain">
						<div class="containerNote">
						    <rating ng-model="rate" max="max" readonly="isReadonly" on-hover="hoveringOver(value)" 
						    	on-leave="overStar = null" titles="['one','two','three']" aria-labelledby="default-rating"></rating>
						    <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" 
						    	ng-show="overStar && !isReadonly">{{percent}}%</span>
						</div>
						<div class="containerPost">
							<span>{{post.post}}</span>
						</div>
						<div class="containerAuteur">
						</div>
					</div>
					<hr />
				</div>
   			</rd-widget-body>
   		</rd-widget>
	</div>
</div>