<div class="row">
	<div class="col-md-6 col-xs-12">
		<rd-widget> <rd-widget-body>
		<div class="widget-icon blue pull-left">
			<i class="fa fa-tag"></i>
		</div>
		<span ng-show="theme"><div class="title">{{theme.lib1}}</div></span> 
		<span ng-hide="theme"><div class="title">Aucun th&egrave;me n'a &eacute;t&eacute; trouv&eacute;</div></span>
		<div class="comment">Consultation des posts</div>
		</rd-widget-body> </rd-widget>
	</div>
</div>

<br>

<div class="row">
	<div class="col-md-6 col-xs-12">
		<div class="alerts-container" data-ng-show="alerts.length">
			<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
		</div>
	</div>
</div>

<div class="row" data-ng-show="comms.length">
	<div class="col-lg-6 myThemeTable">
		<rd-widget> <rd-widget-header icon="fa-tasks" title="Posts par th&egrave;me"> </rd-widget-header> <rd-widget-body classes="medium no-padding">

		<table class="table table-striped" at-table at-paginated at-list="comms" at-config="config">
			<thead>
			</thead>
			<tbody>
				<tr>
					<td at-sortable at-attribute="title" at-title="Post" class="postThemeTable">{{item.title}}</td>
					<td at-sortable at-attribute="dateCreation" at-title="Date de cr&eacute;ation" width="200" at-initial-sorting="desc">{{item.dateCreaS}}</td>
					<td at-sortable at-attribute="commValidate" at-title="&Eacute;tat" width="100">
						<span ng-show="item.commValidate == 1" class="text-success"><i class="fa fa-check"></i></span>
						<span ng-show="item.commValidate != 1" class="text-danger"><i class="fa fa-check"></i></span>
					</td>
				</tr>
			</tbody>
		</table>
		<at-pagination at-list="comms" at-config="config" class="myThemeTablePagination"></at-pagination> </rd-widget-body> </rd-widget>
	</div>
</div>